<template name="biomicoreFeatures">
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" src="/images/bg.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
      <h2>First startup</h2>
      <p>Biomicore was launched right after finishing my PhD and effectively became my first startup. Running it - even though it never made it to market - was a transformative experience. At the time we started it I was 100% sure that if Biomicore didn't make it I would just go back to research. Boy, was I wrong about that.</p>
      <!--p><a class="btn btn-default" href="#" role="button">View details »</a></p-->
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
      <h2>High-tech</h2>
      <p>The product was based on my PhD project i.e. the self-repairing chip technology. In terms of what most of my friends did for startups it was quite different and very high-tech. The first key learning was how to package a very raw technology into something that could actually be used in a company.</p>
      <!--p><a class="btn btn-default" href="#" role="button">View details »</a></p-->
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
      <h2>Tough market</h2>
      <p>Biomicore ended up dying because the market need simply wasn't there. The market for safety critical systems is in many ways an odd one. New technologies need certification in the 100-200K USD range several years of maturing, where the indutry can play with the technology without any larger commitments. E.g FPGAs were invented in the 90s and are widely used in any industry today but only the last Mars rover carried one despite obvious benefits.</p>
      <!--p><a class="btn btn-default" href="#" role="button">View details »</a></p-->
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Public research. <span class="text-muted">Can't innovate</span></h2>
      <p class="lead">There's so many things wrong with the way 'ordinary' research at 'regular' universities are done. (1) It is unambitious, (2) it's incremental, (3) it's motivations are wrong. All of these things have the same root cause: Research funding. When a researcher writes a research proposal he has to tone down his ambitions in order to make it seem possible to the panel judging it that the goals can be achieved. If he fails he will loose his job. Hence he HAS to write a research proposal with just the right amount of ambition - and because nobody can ever know if a crazy idea will turn out to be disruptive until they do it incremental innovation wins.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDUwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjE5MC42MjUiIHk9IjI1MCIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToyM3B0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjUwMHg1MDA8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDUwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjE5MC42MjUiIHk9IjI1MCIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToyM3B0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjUwMHg1MDA8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">MIT Media Lab. <span class="text-muted">Wins.</span></h2>
      <p class="lead">There are so many reasons why your funding model obviously work: (1) It creates the right internal incentives, (2) it encourages disruptive innovation and (3) it keeps the research application oriented. So much research being done where I work is so far from a practical application that it hurts (also some good stuff though!). Because of your sponsor model you encourage researchers to take big disruptive steps as long as they are application oriented (demo or die).</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Biomicore died. <span class="text-muted">Because of the "old" model.</span></h2>
      <p class="lead">My PhD was - in terms of DTU - very ambitious and I was fortunate to be protected by probably the only researcher at DTU who understood that. But Biomicore died because I wasn't encouraged (or didn't know) to keep it application oriented during my project. If I had to demo my technology to a number of industry sponsors every 6 months you bet that I would have looked closer into what they were actually doing and tried to apply my technology to some of their cases. I've learned this the hard way.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDUwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjE5MC42MjUiIHk9IjI1MCIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToyM3B0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjUwMHg1MDA8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->
</template>
