<template name="jobApplication">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" id="none">Reibel</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" id="biomicore">Bio-inspired self-repairing chips (2007-2014ish)</a></li>
              <li><a href="#" id="cphftw">Community building (2011-2015)</a></li>
              <li><a href="#" id="kollektiv">Web startup playground (2014)</a></li>
              <li><a href="#" id="drone">Drone (2015)</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Artistic <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" id="reibels">Band: The Reibels (2010-2012 + 2014-2015)</a></li>
              <li><a href="#" id="photography">Photography (2015)</a></li>
            </ul>
          </li>
          <li><a href="#">The 'why'</a></li>
          <li><a href="#">Media</a></li>
          <li><a href="#" id="realtime">Real-time</a></li>
          <li><a href="#" id="cv">CV</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>{{> loginButtons }}</li>
        </ul>
      </div><!-- /.navbar-collapse -->
      {{#if none}}
        <!--div id="my-timeline"></div-->
        <div id="my-timeline"></div>
      {{else}}
        {{#if biomicore}}
          This is Biomicore
        {{/if}}
        {{#if cphftw}}
          This is cphftw
        {{/if}}
        {{#if kollektiv}}
          This is Kollektiv
        {{/if}}
        {{#if drone}}
          This is Drone
        {{/if}}
        {{#if reibels}}
          This is Reibel
        {{/if}}
        {{#if photography}}
          This is photography
        {{/if}}
        {{#if media}}
          This is media
        {{/if}}
        {{#if realtime}}
          This is realtime
        {{/if}}
        {{#if cv}}
          This is cv
        {{/if}}
      {{/if}}
    </div><!-- /.container-fluid -->
  </nav>
</template>
